* {
  --white: #ffffff;
  --light-blue: #e8f0fa;
  --secondary-blue: #549ee8;
  --primary-blue: #145cb0;
  --dark-blue: #161b33;
  --black: #333;
  --secondary-orange: #b0531c;
  --primary-orange: #fc7f35;
  --bg-color: #f0f0f3;

  --dark-gradient: linear-gradient(89.59deg, #052b57 2.84%, #161b33 99.66%);
  --primary-gradient: linear-gradient(92.77deg, #003d85 -4.91%, #248dff 78.57%, #007af3 103.39%);
  --primary-gradient-reverse: linear-gradient(
    92.77deg,
    #007af3 -4.91%,
    #248dff 78.57%,
    #003d85 103.39%
  );
  --white-gradient: linear-gradient(92.03deg, #e2e2e2 -12.57%, #ffffff 50.7%, #f3f3f3 107.18%);

  --drop-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px -4px 8px #ffffff;
  --hover-box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px #ffffff;
  --clicked-box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.25);
  --focus-box-shadow: 0px 0px 10px #fc7f35;
  --img-box-shadow: 0px -6px 20px #ffffff, 0px 6px 20px rgba(20, 92, 176, 0.25);
  --article-box-shadow: 2px 2px 8px #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --fs-h1: 34px;
  --fs-h2: 30px;
  --fs-h3: 26px;
  --fs-h4: 22px;
  --fs-h5: 19px;
  --fs-h6: 15px;
  --fs-p: 16px;
  --fs-sm: 15px;
  --fs-xs: 9px;
  --fs-btn: 18px;

  --default-margin: 15px;
  --default-padding: 10px;
  --default-border-radius: 10px;
  --navbar-height: 60px;
}

#phone::before {
  content: '+41 79 000 00 00';
  display: inline;
}

#mail::before {
  content: 'info@everymoment.ch';
  display: inline;
}

@media screen and (min-width: 768px) {
  * {
    --fs-h1: 55px;
    --fs-h2: 40px;
    --fs-h3: 32px;
    --fs-h4: 24px;
    --fs-h5: 21px;
    --fs-h6: 16px;
    --fs-p: 18px;
    --fs-sm: 17px;
    --fs-xs: 10px;
    --fs-btn: 20px;

    --default-margin: 20px;
    --navbar-height: 70px;
    --default-padding: 15px;
  }
}
