main {
  margin-top: var(--navbar-height);
}

section:not(.hero) {
  margin: 70px auto;
}

hr {
  background: var(--primary-gradient);
  display: block;
  height: 2px;
  border-radius: 100px;
  border: none;
  max-width: 80vw;
}
